{% extends "base.html" %}
{% block title %}
    {{ thread.title }}
{% endblock title %}
{% block main %}
    {% for post in posts %}
        <div>
            <a href="/user/{{ post.author.id }}">{{ post.author.username }}</a>:
            <p>{{ post.content }}</p>
            {% for react in post.reacts %}
                <span>
                    {{ react.emoji }}
                    {% if react.count > 1 %}
                        {{ react.count }}
                    {% endif %}
                </span>
            {% endfor %}
        </div>
    {% endfor %}
    <form action="/thread/{{ thread.id }}/post" method="post">
        <label for="post-content">Post content:</label>
        <textarea name="content" id="post-content" rows="10" cols="80"></textarea>
        <input type="submit" value="Post">
    </form>
{% endblock main %}
